


<section>
  		<div class="container">
  			<h1 class="text-3">ПАКЕТЫ УСЛУГ</h1>
  			<div class="row justify-content-center">
  				<div class="card product_card" style="width: 20rem; background-color: #1E90FF;">
				  <div class="card-body">
				    <h5 class="card-title">ОБУЧЕНИЕ</h5>
				    <p class="card-text">Обучение дайвингу от новичка до профессионала по всей линейке курсов.</p>
				    <h3> от 10 000 руб.</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 20rem; background-color: #00BFFF;">
				  <div class="card-body">
				    <h5 class="card-title">ДАЙВ САФАРИ</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <h3>от 30 000 руб.</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 20rem; background-color: #00FFFF;">
				  <div class="card-body">
				    <h5 class="card-title">ЛЮБЫЕ ВОДОЛАЗНЫЕ РАБОТЫ</h5>
				    <p class="card-text">Подводные погружения, выполняемые профессионалами.</p>
				    <h3>от 100 000 руб.</h3>
				  </div>
				</div>
  			</div>
  		</div>
  	</section>

<!-- Таблица -->
  	<section>
  		<div class="container">
  			<h1 class="text-3">Цены на услуги</h1>
  			<table class="table table-bordered table-hover table-active">
			  <thead class="table-primary">
			    <tr>
			      <th scope="col">Услуга</th>
			      <th scope="col">Старая цена</th>
			      <th scope="col">Новая цена</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Обучение</td>
			      <td><del>15000</del></td>
			      <td>10000</td>
			    </tr>
			    <tr>
			      <td>Услуга 2 Услуга 2 Услуга 2</td>
			      <td><del>2000</del></td>
			      <td>1000</td>
			    </tr>
			    <tr>
			      <td>Услуга 3 Услуга 3 Услуга 3</td>
			      <td><del>2000</del></td>
			      <td>1000</td>
			    </tr>
			  </tbody>
			</table>
  		</div>
  	</section>